<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732530286615-74oqr303bhqenp4o3f5sthsnosnoni9c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732530286615-74oqr303bhqenp4o3f5sthsnosnoni9c</string>
	<key>API_KEY</key>
	<string>AIzaSyDLhfRFVKuaR1NSLIpvMc1P69i6NSQQ3bQ</string>
	<key>GCM_SENDER_ID</key>
	<string>732530286615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Steven-QI.FirebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-demo1-6f932</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo1-6f932.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732530286615:ios:b8d704666c4ee9ff70bc52</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demo1-6f932.firebaseio.com</string>
</dict>
</plist>